.timer {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}

.timer__header {
  flex: 1 0 auto;
}

.timer__content {
  background-color: rgba(255, 24, 24, 0.7);
  height: 3rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  border-radius: 1rem;
}