.header {
  margin: 2rem 0;
}

.header__title {
  color: rgba(255, 0, 0, 1);
}

.header__subtitle {
  font-size: .8rem;
  color: rgba(255, 0, 0, .9);
  background-color: rgba(255, 0, 0, .2);
  display: inline;
}